# backup files
*~
# intermediate directories and build targets
/external/
/obj/
/lib/
/test/
/.original_env
/env.sh
# data
/data/*.tar.gz
/data/*.bin
/data/data_ok
# build targets
/alpaka
/alpakatest
/cuda
/cudadev
/cudatest
/cudauvm
/fwtest
/kokkos
/kokkostest
/sycltest
